.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    float:right;


}
 .sidebar {
   width: 30%;
   margin: 12px;
   border: 2px solid red;
   padding: 4px;
   background-color: yellow;

 }
